<article class="helvetica pb5">
  <header class="vh-75 dt w-100 relative">
    <div class="absolute bg-white-70 w-100 h-100 flex items-center" style="z-index:101">
      <div class="dtc v-mid cover ph3 ph4-m ph5-l center">
        <h1 class="f2 f-subheadline-l measure lh-title fw9">The Guardian Mosaic Experiment</h1>
        <h2 class="f6 fw6 black">a new reading experience from @theGuardian</h2>
      </div>
    </div>
    <div
    style="background:url(https://source.unsplash.com/random) no-repeat center right;background-size: cover;" class="dtc v-mid cover ph3 ph4-m ph5-l">
    </div>
  </header>
</article>
